auto-install-peers=false
strict-peer-dependencies=false
supported-architectures.os[]=linux
supported-architectures.os[]=darwin
supported-architectures.os[]=win32
supported-architectures.cpu[]=x64
supported-architectures.cpu[]=arm64
supported-architectures.libc[]=glibc
supported-architectures.libc[]=musl
